{
  "data":{
    "relationships": {
     "hosts":{
        "data":[
{% for var in results %}
            {
           "id": "{{ results[0].fqdn }}",
            "type": "host"
            },
{% endfor %}
          ]
      }
    }
   }
 }         
