{
  "data":{
    "relationships": {
     "hosts":{
        "data":[
{% for var  in id %}
            {
           "id": "{{ var[0] }}",
            "type": "host"
            },
{% endfor %}
          ]
      }
    }
   }
 } 
        
